body {
  background: rgb(189, 187, 217);
  background: linear-gradient(
    90deg,
    rgba(189, 187, 217, 1) 0%,
    rgba(55, 190, 184, 0.9801136363636364) 26%,
    rgba(0, 255, 239, 1) 81%
  );
  font-family: "Open Sans", sans-serif;
}

#main-container {
  height: 100vw;
}

h1 {
  color: white;
  font-family: "Open Sans", sans-serif;
}

h2 {
  color: white;
  font-family: "Open Sans", sans-serif;
}

.conditions {
  color: white;
  font-family: "Open Sans", sans-serif;
}
